.header_outer {
    display: grid;
}

.layer_1 {
    grid-column: 1;
    grid-row: 1; 
    
}

.svg_color {
    fill: #65E9EE9E;
}

header {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 15%;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    font-size: 26px;
}

.links a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}

.tepee img {
    opacity: 0;
    width: 5%;
}

.span_1:hover img {
    opacity: 1
}

.span_2:hover img {
    opacity: 1
}

.span_3:hover img {
    opacity: 1
}

.span_4:hover img {
    opacity: 1
}